/* Format for applying styling rules */
[selector]{
  [property]: [value];
}
/* Global Styles go here */
body{
  background: black;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}
/* enter site 
.enter{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}
.enter-button{
  text-align: inherit;
  z-index: ;
  border: none;
  position: relative;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 10px;
  transition-duration: 0.2s;
}
.enter-button:hover{
  color: lightgrey;
}
/* body text */
.textContainer{
  margin-top: 600px;
  z-index: 1;
  text-align: center;
  width: 100%;
  display: block;
  font-family: Mencken Std Regular;
}
.GROUPB{
  font-family: Mencken Std Head Narrow ExtraBold;
  position: relative;
  text-align: left;
  width: 100%;
  font-size: 32.2vw;
  letter-spacing: -1.5vw;
  pointer-events: none;
}
.column {
  float: left;
  text-align: left;
  font-size: 0.9vw;
}
.column.one {
  width: 10%;
  margin-left: 15%;
}
.column.two {
  width: 10%;
  margin-left: 1%;
}
.column.three {
  width: 10%;
  margin-left: 1%;
}
.column.four {
  width: 10%;
  padding-left: 500px;
}
.column.five {
  width: 10%;
  margin-left: 5%;
}
.column.six {
  width: 10;
  margin-left: 35vw;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* gifs */
.rohrl:hover+.footwork{
  display: inline;
  transition-duration: 0.2s;
}
.footwork{
  display: none;
  z-index: 2;
}
.quattro:hover+.portugal{
  display: inline;
  transition-duration: 0.2s;
}
.portugal{
  display: none;
  z-index: 2;
}
.bettega:hover+.jump{
  display: inline;
  transition-duration: 0.2s;
}
.jump{
  display: none;
  z-index: 2;
}
.lancia:hover+.drift{
  display: inline;
  transition-duration: 0.2s;
}
.drift{
  display: none;
  z-index: 2;
}
.peugeot:hover+.slide{
  display: inline;
  transition-duration: 0.2s;
}
.slide{
  display: none;
  z-index: 2;
}
.martini:hover+.flying{
  display: inline;
  transition-duration: 0.2s;
}
.flying{
  display: none;
  z-index: 2;
}
.sport:hover+.crowd{
  display: inline;
  transition-duration: 0.2s;
}
.crowd{
  display: none;
  z-index: 2;
}
.ford:hover+.crash{
  display: inline;
  transition-duration: 0.2s;
}
.crash{
  display: none;
  z-index: 2;
}
.talbot:hover+.hairpin{
  display: inline;
  transition-duration: 0.2s;
}
.hairpin{
  display: none;
  z-index: 2;
}
/* video */
/* full sized
.videoContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#moshedHD{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
} */
.videoContainer{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#moshedHD{
  width: 70%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#videoControlBar{
  bottom: 500px;
  display: block;
  text-align: center;
  padding: 10px;
  background: transparent;
  border: none;
  z-index: 0;

  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
#playpausebtn{
  color: white;
  background: transparent;
  border: none;
}
#seekslider{
  width: 1000px;
}
#mutebtn{
  color: white;
  background: transparent;
  border: none;
}
#fullscreenbtn{
  color: white;
  background: transparent;
  border: none;
}
input[type='range']{
  -webkit-appearance: none;
  background: white;
  height: 1px;
  border: none;
}
input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: white;
  height: 15px;
  width: 3px;
  cursor: cursor;
  border: none;
}
